* {
  margin: 0px;
  padding: 0px;
  margin: auto;
}

html {
  height: 100%;
  background-color: #1E2326;
}

.navbar {
  background-color: #252A2E;
}

.sidebar,
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
}

.sidebar {
  left: -100%;
  max-width: 66%;
  transition: all ease 0.25s;
}

.overlay { 
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  visibility: hidden; 
}